.left-link {
  position: sticky;   /* fixed 대신 sticky */
  top: 200px;
}

.left-link-btn {
  display: block;
  padding: 12px 16px;
  background-color: #94dab9;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.2s;
  font-size: 12px;
}

.left-link-btn:hover {
  background-color: #b7c7ff;
}