.left-link {
  position: fixed;   /* fixed 대신 sticky */
  top: 150px;
  left: 20px;
  width: 90px;
  z-index: 1000;
  /* max-width: 130px; */
}

/* 화면이 768px 이하일 때 */
@media (max-width: 1200px) {
  .left-link {
    top: auto;              /* 위 고정 해제 */
    bottom: 10px;           /* 아래로 */
    left: -40px;            /* 살짝 밖으로 빼기 */
    transition: 0.3s;
  }
  .left-link:hover {
    left: 10px;            /* 마우스 올리면 쓱 나옴 */
  }
}


.left-link-btn {
  display: block;
  padding: 10px 12px;
  background-color: #c5f3de;
  color: rgb(51, 51, 51);
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.2s;
  font-size: 12px;
  word-break: keep-all;  /* 한글 기준 띄어쓰기 이쁘게 함 */
}

.left-link-btn:hover {
  background-color: #000000;
}