.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.newsletter-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-input {
  width: 60%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
